swagger: '2.0'
info:
  description: >-
    OMP BETA API documentation for accessing government meeting data (city councils, state legislature, school boards) using the Open Media Project (OMP). You can learn more about the
    OMP at http://www.ompnetwork.org. Authentication is not currently required but an API key will be required in the future.
  version: "0.2.2"
  title: Open Media Project
  contact:
    email: brian@openmediafoundation.org
host: open.ompnetwork.org
basePath: /api
tags:
  - name: session
    description: Government meeting sessions
  - name: agenda
    description: Agenda documents
  - name: agenda item
    description: Agenda items parsed from Agenda documents based on rules
  - name: cuepoint
    description: Timestamped agenda item
  - name: caption
    description: Automated or human transcription of meeting video
schemes:
  - https
paths:
  '/sessions':
    get:
      tags:
        - session
      summary: Fetches sessions
      description: List all government meeting sessions, paging supported
      produces:
        - application/json
      parameters:
        - name: category
          in: query
          description: Limit sessions by category id
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: createdAfter
          in: query
          description: Limit results to sessions created after provided timestamp
          required: false
          type: integer
          format: int32
        - name: updatedAfter
          in: query
          description: Limit results to sessions last updated after provided timestamp
          required: false
          type: integer
          format: int32
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          default: "0"
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          default: "100"
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Session'
        '400':
          description: Invalid status value
  '/sessions/{sessionId}':
    get:
      tags:
        - session
      summary: Find session by ID
      description: Returns a single session
      produces:
        - application/json
      parameters:
        - name: sessionId
          in: path
          description: ID of session to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Session'
        '400':
          description: Invalid ID supplied
        '404':
          description: Session not found
  '/sites':
    get:
      tags:
        - site
      summary: Find sites by location
      description: 'Returns sites optionally filtered by state, county or city, paging supported'
      produces:
        - application/json
      parameters:
        - name: state
          in: query
          description: State can either be full state name or official abbreviation
          required: false
          type: string
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Site'
  '/sites/{siteName}':
    get:
      tags:
        - site
      summary: Find site by name
      description: Returns a single site
      produces:
        - application/json
      parameters:
        - name: siteName
          in: path
          description: Unique site name
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Site'
        '400':
          description: Invalid ID supplied
        '404':
          description: Site not found
  '/site/{siteId}/sessions':
    get:
      tags:
        - site
      summary: Find sessions by site
      description: Returns a listing of sessions in this site, paging supported
      produces:
        - application/json
      parameters:
        - name: siteId
          in: path
          description: Unique site id
          required: true
          type: integer
        - name: category
          in: query
          description: Limit sessions by category id
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: createdAfter
          in: query
          description: Limit results to sessions created after provided timestamp
          required: false
          type: integer
          format: int32
        - name: updatedAfter
          in: query
          description: Limit results to sessions last updated after provided timestamp
          required: false
          type: integer
          format: int32
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Session'
        '400':
          description: Invalid site ID supplied
        '404':
          description: Site not found
  '/site/{siteId}/captions':
    get:
      tags:
        - site
      summary: Find captions by site
      description: Returns a listing of captions in this site, paging supported
      produces:
        - application/json
      parameters:
        - name: siteId
          in: path
          description: Unique site id
          required: true
          type: integer
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Caption'
        '400':
          description: Invalid site ID supplied
        '404':
          description: Site not found
  '/site/{siteId}/cuepoints':
    get:
      tags:
        - site
      summary: Find cuepoints by site
      description: Returns a listing of cuepoints in this site, paging supported
      produces:
        - application/json
      parameters:
        - name: siteId
          in: path
          description: Unique site id
          required: true
          type: integer
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Cuepoint'
        '400':
          description: Invalid site ID supplied
        '404':
          description: Site not found
  '/site/{siteId}/categories':
    get:
      tags:
        - site
      summary: List categories by site
      description: Returns a listing of categories defined by this site, paging supported
      produces:
        - application/json
      parameters:
        - name: siteId
          in: path
          description: Unique site id
          required: true
          type: integer
        - name: livestream
          in: query
          description: Limit results to categories used for live streaming
          required: false
          type: boolean
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Category'
        '400':
          description: Invalid site ID supplied
        '404':
          description: Site not found
  '/captions':
    get:
      tags:
        - caption
      summary: Fetches captions
      description: List all government meeting captions, paging supported
      produces:
        - application/json
      parameters:
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Caption'
        '400':
          description: Invalid status value
  '/cuepoints':
    get:
      tags:
        - cuepoint
      summary: Fetches cuepoints
      description: List all government meeting cuepoints, paging supported
      produces:
        - application/json
      parameters:
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Cuepoint'
        '400':
          description: Invalid status value
  '/categories':
    get:
      tags:
        - category
      summary: Fetches categories
      description: List all government meeting categories, paging supported
      produces:
        - application/json
      parameters:
        - name: livestream
          in: query
          description: Limit results to categories used for live streaming
          required: false
          type: boolean
        - name: start
          in: query
          description: Offset results by number specified
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: Limit results returned, maximum 500
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Category'
        '400':
          description: Invalid status value
definitions:
  Session:
    type: object
    description: A meeting containing video, documents, captions and cuepoints.
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      created:
        type: integer
        format: int32
      updated:
        type: integer
        format: int32
      title:
        type: string
      label:
        type: string
      video_url:
        type: string
      video_id:
        type: string
      video_image_url:
        type: string
      date:
        type: integer
        format: int32
      documents:
        type: array
        items:
          $ref: '#/definitions/Document'
      categories:
        type: array
        items:
          $ref: '#/definitions/Category'
      live_status:
        type: boolean
  Caption:
    type: object
    description: Session captions transcribed from video. Depending on the site it may be automatic transcriptions or human.
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      session_id:
        type: integer
        format: int64
      label:
        type: string
      caption:
        type: string
      youtube_id:
        type: string
      seconds_start:
        type: integer
        format: int64
      seconds_end:
        type: integer
        format: int64
      position:
        type: integer
        format: int32
      livestream:
        type: boolean
  Category:
    type: object
    description: Category defined by a site to organize sessions. Examples include City Council, Planning Committee, Board of Commissioners, etc.
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      label:
        type: string
      position:
        type: integer
        format: int32
      livestream:
        type: boolean
  Document:
    type: object
    description: A file attached to a session. Could be a meeting agenda, minutes, or other documentation.
    properties:
      id:
        type: integer
        format: int64
      file_id:
        type: integer
        format: int64
      url:
        type: string
      session_id:
        type: integer
        format: int64
      session_title:
        type: string
      user_id:
        type: integer
        format: int64
      type:
        type: string
      storage:
        type: string
      provider:
        type: string
      type_id:
        type: integer
        format: int32
  Site:
    type: object
    description: OMP instance, could be a city council, school board, state legislature, etc
    properties:
      site_id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      first_name:
        type: string
      last_name:
        type: string
      om_agendas_document_type:
        type: integer
        format: int32
      om_user_settings_css_file:
        type: string
      om_user_settings_embedded_links:
        type: boolean
      om_user_settings_listing_label:
        type: string
      om_user_settings_live_image:
        type: string
      om_user_settings_ondemand_image:
        type: string
      om_user_settings_processing_image:
        type: string
      om_user_settings_site_font:
        type: string
      om_user_settings_site_font_embed:
        type: string
      om_user_settings_site_header_color:
        type: string
      om_user_settings_site_header_font:
        type: string
      om_user_settings_site_header_style:
        type: string
      om_user_settings_site_link_color:
        type: string
      om_user_settings_site_title:
        type: string
      om_user_settings_site_url:
        type: string
      om_user_settings_standalone_site:
        type: string
      om_user_settings_status_desc:
        type: string
      om_user_settings_status_embed:
        type: string
      population:
        type: integer
        format: int64
      city:
        type: string
      county:
        type: string
      state:
        type: string
      state_abbrev:
        type: string
  Cuepoint:
    type: object
    description: Agenda item that has been timestamped against a session video
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      session_id:
        type: integer
        format: int64
      label:
        type: string
      title:
        type: string
      body:
        type: string
      seconds_start:
        type: integer
        format: int64
